<p>Hi</p>

<p>You are almost finished. Click the link below to verify your identity and save your new password.</p>

<p><a href="https://www.pearlsbeardoil.com/forgot-password/<%= @user.token %>">This link will take you to a login page on srincentives.com.</a></p>


<p> Any questions, do not hesitate to let us know. ☺</p>
<br>

<p>Thanks,<br>
<span style="color: #003057;">Shaun Willis</span><br>
<strong>Full Stack Web Developer</strong><br>
640 Broadmor Blvd, Suite 80 | Murfreesboro, TN 37129<br>
<span style="color: #003057;">P:</span> 615.217.6212<br>
<a href="https://HelloKernel.com">HelloKernel.com</a> • <a href="https://www.linkedin.com/company/kernel-a-time-warner-cable-media-company/">@Hello_Kernel</a>
</p>
