<p>Hello👋</p>

<p>You are almost finished. Click the link below to verify your identity and save your new password.</p>

<p><a href="https://www.pearlsbeardoil.com/forgot-password/<%= @user.token %>">This link will take you to a login page on pearlsbeardoil.com.</a></p>


<p> Any questions, do not hesitate to let us know. ☺</p>
<br>
<p>Have a great day!</p>
<br>
<p>Thanks,<br>
<span>Shaun Willis</span><br>
<strong>Co-Founder of Pearl's Beard Oil</strong><br>
6092 Sedgeridge Ave | Murfreesboro, TN 37129<br>
<a href="https://www.pearlsbeardoil.com">Pearlsbeardoil.com</a>
</p>
